In [ ]:
https://drive.google.com/file/d/1jbf347zyrfZsaqQnkfdDk3VIhKiGaeUP/view?usp=sharing

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv(r'/content/bank-additional-full_final (1) (1).csv')

In [ ]:
df

      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0      56;"housemaid";"married";"basic.4y";"no";"no";...
1      57;"services";"married";"high.school";"unknown...
2      37;"services";"married";"high.school";"no";"ye...
3      40;"admin.";"married";"basic.6y";"no";"no";"no...
4      56;"services";"married";"high.school";"no";"no...
...                                                  ...
41194  74;"retired";"married";"professional.course";"...
41195  74;NA;"married";"professional.course";"no";"ye...
41196  74;"retired";"married";NA;"no";"yes";"no";"cel...
41197  NA;NA;NA;NA;NA;NA;NA;NA;NA;NA;NA;NA;NA;NA;NA;N...
41198  74;"retired";"married";"professional.course";"...

[41199 rows x 1 columns]

In [ ]:
#supervised : input+ output(labeled data)
#unsupervised: input(unlabeled data)

#supervised:
1.Regression - target variable is continuous
ex: Linear Regression, decision tree, random forest, knn, svr

#Error metrics: rmse,mse,mae,r2_score

2.Classification - target variable is descrete/categorical
ex: logistic Regression ,decision tree, random forest, knn, svc

#Error metrics: accuracy,precision,recall,f1_score(classification report), confusion matrix

In [ ]:
# logistic Regression

In [ ]:
#wrapper of linear regression
y=mx+c(straight line equation)

sigmoid function(1/(1+e^-y))

1/(1+exp(-(mx+c)))

#0-1
#<0.5==0
#>=0.5==1

In [ ]:
df=pd.read_csv(r'/content/bank-additional-full_final (1) (1).csv',sep=';')

In [ ]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56.0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57.0,services,married,high.school,unknown,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37.0,services,married,high.school,no,yes,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40.0,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56.0,services,married,high.school,no,no,yes,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41194,74.0,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,94.767,-50.8,1.028,4963.6,no
41195,74.0,NaN,married,professional.course,no,yes,no,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,94.767,-50.8,1.028,4963.6,no
41196,74.0,retired,married,NaN,no,yes,no,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,94.767,-50.8,1.028,4963.6,no
41197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41198,74.0,retired,married,professional.course,no,yes,NaN,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,NaN,-50.8,1.028,4963.6,no

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41199 entries, 0 to 41198
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41195 non-null  float64
 1   job             41194 non-null  object
 2   marital         41194 non-null  object
 3   education       41194 non-null  object
 4   default         41195 non-null  object
 5   housing         41196 non-null  object
 6   loan            41195 non-null  object
 7   contact         41195 non-null  object
 8   month           41196 non-null  object
 9   day_of_week     41196 non-null  object
 10  duration        41196 non-null  float64
 11  campaign        41196 non-null  float64
 12  pdays           41196 non-null  float64
 13  previous        41196 non-null  float64
 14  poutcome        41194 non-null  object
 15  emp.var.rate    41196 non-null  float64
 16  cons.price.idx  41195 non-null  float64
 17  cons.conf.idx   41196 non-null  float64
 18  euribor3m       41196 non-null  float64
 19  nr.employed     41196 non-null  float64
 20  y               41196 non-null  object
dtypes: float64(10), object(11)
memory usage: 6.6+ MB

In [ ]:
df.isnull().sum()

age               4
job               5
marital           5
education         5
default           4
housing           3
loan              4
contact           4
month             3
day_of_week       3
duration          3
campaign          3
pdays             3
previous          3
poutcome          5
emp.var.rate      3
cons.price.idx    4
cons.conf.idx     3
euribor3m         3
nr.employed       3
y                 3
dtype: int64

In [ ]:
#dropna-rows: <10%
#fillna : 10% to 40%
#drop features:>40%

In [ ]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [ ]:
df.dropna(inplace=True)

In [ ]:
#'age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
#     'contact', 'month', 'day_of_week'

In [ ]:
# df.dropna(subset=['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
#        'contact', 'month', 'day_of_week'])#specific columns

In [ ]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41190 entries, 0 to 41194
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41190 non-null  float64
 1   job             41190 non-null  object
 2   marital         41190 non-null  object
 3   education       41190 non-null  object
 4   default         41190 non-null  object
 5   housing         41190 non-null  object
 6   loan            41190 non-null  object
 7   contact         41190 non-null  object
 8   month           41190 non-null  object
 9   day_of_week     41190 non-null  object
 10  duration        41190 non-null  float64
 11  campaign        41190 non-null  float64
 12  pdays           41190 non-null  float64
 13  previous        41190 non-null  float64
 14  poutcome        41190 non-null  object
 15  emp.var.rate    41190 non-null  float64
 16  cons.price.idx  41190 non-null  float64
 17  cons.conf.idx   41190 non-null  float64
 18  euribor3m       41190 non-null  float64
 19  nr.employed     41190 non-null  float64
 20  y               41190 non-null  object
dtypes: float64(10), object(11)
memory usage: 6.9+ MB

In [ ]:
df.duplicated().sum()

np.int64(13)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
#Encoding
#1.label encoding
#2.one hot encoding

In [ ]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56.0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57.0,services,married,high.school,unknown,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37.0,services,married,high.school,no,yes,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40.0,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56.0,services,married,high.school,no,no,yes,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
#data type inconsistencty:
#int/float(actual)-object
0,3,3,2,3

df/series-array like object labeled data


12.0, 17-float
12.0, 17, 19,' ',@,,'$22.2', 20-string/object

In [ ]:
df['campaign'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       19., 18., 23., 14., 22., 25., 16., 17., 15., 20., 56., 39., 35.,
       42., 28., 26., 27., 32., 21., 24., 29., 31., 30., 41., 37., 40.,
       33., 34., 43.])

In [ ]:
for col in df.columns:
  if df[col].dtype=='object':
    print(f"{col}: {df[col].unique()}")
    print()

job: ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']

marital: ['married' 'single' 'divorced' 'unknown']

education: ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']

default: ['no' 'unknown' 'yes']

housing: ['no' 'yes' 'unknown']

loan: ['no' 'yes' 'unknown']

contact: ['telephone' 'cellular']

month: ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

day_of_week: ['mon' 'tue' 'wed' 'thu' 'fri']

poutcome: ['nonexistent' 'failure' 'success']

y: ['no' 'yes']

In [ ]:
for col in ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan']:
  if df[col].dtype=='object':
    print(f"{col}: {df[col].value_counts()['unknown']}")

job: 330
marital: 80
education: 1730
default: 8596
housing: 990
loan: 990

In [ ]:
import numpy as np

In [ ]:
#replace: unknown-null value
for col in ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan']:
  if df[col].dtype=='object':
    df[col]=df[col].replace('unknown',np.nan)

In [ ]:
df.isnull().sum()

age                  0
job                330
marital             80
education         1730
default           8596
housing            990
loan               990
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [ ]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [ ]:
df.dropna(subset=['job', 'marital', 'education','housing', 'loan'],inplace=True)

In [ ]:
df.isnull().sum()

age                  0
job                  0
marital              0
education            0
default           7756
housing              0
loan                 0
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [ ]:
df['default'].unique()

array(['no', nan, 'yes'], dtype=object)

In [ ]:
#mean,median,mode,specific value, ffill(sequential),knnimputer

In [ ]:
df['default'].mode()[0]

'no'

In [ ]:
df['default']=df['default'].fillna(df['default'].mode()[0])

In [ ]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38235 entries, 0 to 41193
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             38235 non-null  float64
 1   job             38235 non-null  object
 2   marital         38235 non-null  object
 3   education       38235 non-null  object
 4   default         38235 non-null  object
 5   housing         38235 non-null  object
 6   loan            38235 non-null  object
 7   contact         38235 non-null  object
 8   month           38235 non-null  object
 9   day_of_week     38235 non-null  object
 10  duration        38235 non-null  float64
 11  campaign        38235 non-null  float64
 12  pdays           38235 non-null  float64
 13  previous        38235 non-null  float64
 14  poutcome        38235 non-null  object
 15  emp.var.rate    38235 non-null  float64
 16  cons.price.idx  38235 non-null  float64
 17  cons.conf.idx   38235 non-null  float64
 18  euribor3m       38235 non-null  float64
 19  nr.employed     38235 non-null  float64
 20  y               38235 non-null  object
dtypes: float64(10), object(11)
memory usage: 6.4+ MB

In [ ]:
for col in df.columns:
  if df[col].dtype=='object':
    print(f"{col}: {df[col].unique()}")
    print()

job: ['housemaid' 'services' 'admin.' 'technician' 'blue-collar' 'retired'
 'management' 'unemployed' 'self-employed' 'entrepreneur' 'student']

marital: ['married' 'single' 'divorced']

education: ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'university.degree' 'illiterate']

default: ['no' 'yes']

housing: ['no' 'yes']

loan: ['no' 'yes']

contact: ['telephone' 'cellular']

month: ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']

day_of_week: ['mon' 'tue' 'wed' 'thu' 'fri']

poutcome: ['nonexistent' 'failure' 'success']

y: ['no' 'yes']

In [ ]:
#object/categorical to numeric: Encoding

#1.Label Encoding: alphabetic order
#2.One  hot Encoding

['married' 'single' 'divorced']
    1         2          0

# col1              Encoded data col1
1 'married'               1
2 'single'                2
3 'divorced'              0
4 'married'               1
4 'single'                2
6 'single'                2


#2.One  hot Encoding
# col1              divorced_col1 married_col1 single_col1
1 'married'                0           1          0
2 'single'                 0           0          1
3 'divorced'               1           0          0
4 'married'
4 'single'
6 'single'

In [ ]:
#Numerical(Quantitative):
1.continuous
2.descrete


#catgeorical(Qualitative)
#1.ordinal(type of data which has definite order)
#ex: ranking,ratings,job role

#2. nominal(no order)
#ex: colors, gender

In [ ]:
#usecase
#1.Label Encoding: ordinal data
#avoid nomial data
ex: gender:(male female)
1,0

Ex: suggested for using tree based algorithms

#2.One  hot Encoding: nomial data
#avoid no of unqiue are high (feature)- curse of dimensionality

In [ ]:
[x.upper() for x in ['married','single','divorced']]

['MARRIED', 'SINGLE', 'DIVORCED']

In [ ]:
#overfitting(99.9%,100%)(over complexity), underfitting(simple model)
#bias variance tradeoff
1.-12
2.19

40%,30%(future)
#large no. of features

In [ ]:
#Label encoding

In [ ]:
#sklearn(scikit learn)
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
# df['col1']

In [ ]:
# df['col']=le.fit_transform(df['col'])

In [ ]:
fit-> calculates the value to be changed
transform->apply the transformation of the value calculated

In [ ]:
for col in df.columns:
  if df[col].dtype=='object':
    df[col]=le.fit_transform(df[col])
    print(le.classes_)#optimal

['admin.' 'blue-collar' 'entrepreneur' 'housemaid' 'management' 'retired'
 'self-employed' 'services' 'student' 'technician' 'unemployed']
['divorced' 'married' 'single']
['basic.4y' 'basic.6y' 'basic.9y' 'high.school' 'illiterate'
 'professional.course' 'university.degree']
['no' 'yes']
['no' 'yes']
['no' 'yes']
['cellular' 'telephone']
['apr' 'aug' 'dec' 'jul' 'jun' 'mar' 'may' 'nov' 'oct' 'sep']
['fri' 'mon' 'thu' 'tue' 'wed']
['failure' 'nonexistent' 'success']
['no' 'yes']

In [ ]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56.0,3,1,0,0,0,0,1,6,1,...,1.0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0,0
1,57.0,7,1,3,0,0,0,1,6,1,...,1.0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0,0
2,37.0,7,1,3,0,1,0,1,6,1,...,1.0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0,0
3,40.0,0,1,1,0,0,0,1,6,1,...,1.0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0,0
4,56.0,7,1,3,0,0,1,1,6,1,...,1.0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38235 entries, 0 to 41193
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             38235 non-null  float64
 1   job             38235 non-null  int64
 2   marital         38235 non-null  int64
 3   education       38235 non-null  int64
 4   default         38235 non-null  int64
 5   housing         38235 non-null  int64
 6   loan            38235 non-null  int64
 7   contact         38235 non-null  int64
 8   month           38235 non-null  int64
 9   day_of_week     38235 non-null  int64
 10  duration        38235 non-null  float64
 11  campaign        38235 non-null  float64
 12  pdays           38235 non-null  float64
 13  previous        38235 non-null  float64
 14  poutcome        38235 non-null  int64
 15  emp.var.rate    38235 non-null  float64
 16  cons.price.idx  38235 non-null  float64
 17  cons.conf.idx   38235 non-null  float64
 18  euribor3m       38235 non-null  float64
 19  nr.employed     38235 non-null  float64
 20  y               38235 non-null  int64
dtypes: float64(10), int64(11)
memory usage: 6.4 MB