In [1]:
#Logistic Regression Quiz
#Gaurav Singh - grv08singh@gmail.com

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
wr.filterwarnings('ignore')

In [106]:
df = pd.read_csv("census-income .csv")

In [61]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
df.columns.to_list()

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'annual_income']

In [13]:
df['occupation'].nunique()

15

In [21]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(df[col].value_counts())

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64
marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
sex
Male      21790
Female    10771
Name: count, dtype: int64
native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64
annual_income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [47]:
df1 = df.drop_duplicates()

In [92]:
#Q2 - Answer not match



df1[(df1['occupation'] == 'Tech-support') & (df1['annual_income'] == '>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
55,43,Private,237993,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
248,40,Private,207578,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,White,Male,0,1977,60,United-States,>50K
357,40,Private,96129,Assoc-voc,11,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
469,30,Private,118551,Bachelors,13,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,16,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31510,42,Private,111483,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,>50K
31653,25,Private,189656,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Male,0,0,60,United-States,>50K
31807,51,Self-emp-not-inc,170086,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,45,United-States,>50K
32076,59,Federal-gov,293971,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K

In [53]:
df1.duplicated().sum()

0

In [63]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [108]:
df2 = df.replace('?', np.nan)

In [110]:
df2.isnull().sum().sum()

4262

In [90]:
#Q5 - Answer not match



df2[(df2['workclass'] == 'Private') & (df2['native-country'] != 'United-States')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32508,45,Private,155093,10th,6,Divorced,Other-service,Not-in-family,Black,Female,0,0,38,Dominican-Republic,<=50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,NaN,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K

In [104]:
#Q6 Answer not match


df3 = df2[(df2['annual_income'] == '<=50K') | (df2['hours-per-week'] >= 40)]
df4 = df3[(df3['annual_income'] == '<=50K') & (df3['hours-per-week'] >= 40)]
print(df3.shape[0])
print(df4.shape[0])
df3.shape[0] - df4.shape[0]

31823
17695

14128

In [112]:
df2.columns.to_list()

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'annual_income']

In [114]:
df2.rename(columns={'annual_income' : 'Annual Income'},inplace = True)

In [118]:
df2.columns.to_list()

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'Annual Income']

In [122]:
df3 = df2.dropna()

In [126]:
df2.isnull().sum().sum()

4262

In [128]:
df3.isnull().sum().sum()

0

In [130]:
df3.shape

(30162, 15)

In [140]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
for col in df3.columns:
   if(df3[col].dtype == 'object'):
       df3[col] = LE.fit_transform(df3[col])

In [148]:
X = df3.iloc[:,0:-1]
y = df3['Annual Income']

In [155]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [157]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train, y_train)
y_pred = log.predict(X_test)

In [161]:
from sklearn.metrics import *
print(accuracy_score(y_test, y_pred))
confusion_matrix(y_test, y_pred)

0.7926842745054702

array([[6627,  137],
       [1739,  546]], dtype=int64)

In [165]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
specificity = tn / (tn + fp)

In [167]:
specificity

0.979745712596097

In [171]:
tn / (tn + fn)

0.7921348314606742

In [173]:
tp + tn

7173

In [187]:
tp + tn + fp + fn

9049

In [189]:
precision = tp / (tp + fp)
recall = tp / (tp + fn)
f1_score = 2 * precision * recall / (precision + recall)
f1_score

0.3679245283018867

In [191]:
tp + tn

7173

In [195]:
#Creditworthyness Data

In [201]:
df4 = pd.read_excel('CreditWorthiness.xlsx', sheet_name='Data')

In [209]:
df4.columns.to_list()

['Cbal',
 'Cdur',
 'Chist',
 'Cpur',
 'Camt',
 'Sbal',
 'Edur',
 'InRate',
 'MSG',
 'Oparties',
 'Rdur',
 'Prop',
 'age',
 'inPlans',
 'Htype',
 'NumCred',
 'JobType',
 'Ndepend',
 'telephone',
 'foreign',
 'creditScore']

In [219]:
df4['Htype'].value_counts()
for item in df4['Htype'].value_counts()[0]:
    prob.append()

Htype
own          713
pays rent    179
free         108
Name: count, dtype: int64

In [221]:
probs = np.array([713/(713+179+108), 179/(713+179+108), 108/(713+179+108)])
entropy = (-1 * np.sum(np.log2(probs) * probs))
entropy

1.1390117663236383

In [223]:
df4.columns.to_list()

['Cbal',
 'Cdur',
 'Chist',
 'Cpur',
 'Camt',
 'Sbal',
 'Edur',
 'InRate',
 'MSG',
 'Oparties',
 'Rdur',
 'Prop',
 'age',
 'inPlans',
 'Htype',
 'NumCred',
 'JobType',
 'Ndepend',
 'telephone',
 'foreign',
 'creditScore']

In [225]:
df4[(df4['age'] >= 25) & (df4['age'] <= 50) & (df4['inPlans'] == 'bank') & ((df4['Cpur'] == 'Business') | (df4['Cpur'] == 'electronics')) & (df4['foreign'] == 'yes')]

Empty DataFrame
Columns: [Cbal, Cdur, Chist, Cpur, Camt, Sbal, Edur, InRate, MSG, Oparties, Rdur, Prop, age, inPlans, Htype, NumCred, JobType, Ndepend, telephone, foreign, creditScore]
Index: []

[0 rows x 21 columns]

In [235]:
df4[(df4['age'] >= 25) & (df4['age'] <= 50) & (df4['inPlans'] == 'bank') & ((df4['Cpur'] == 'Business') | (df4['Cpur'] == 'electronics')) & (df4['foreign'] == 'Yes')].shape[0]

0

In [237]:
df4['foreign'].value_counts()

foreign
no     963
yes     37
Name: count, dtype: int64

In [241]:
pd.get_dummies()

TypeError: get_dummies() missing 1 required positional argument: 'data'

In [247]:
pd.get_dummies(df4)

,Cdur,Camt,InRate,age,NumCred,Ndepend,Cbal_ Rs. < 0,Cbal_0 <= Rs. < 2000,Cbal_Rs. >=2000,Cbal_no checking account,...,"JobType_employed either in management, self or in high position",JobType_employee with official position,JobType_non resident either unemployed or unskilled,JobType_resident unskilled,telephone_no,telephone_yes,foreign_no,foreign_yes,creditScore_bad,creditScore_good
0,9,13790,2,27,1,1,False,True,False,False,...,False,True,False,False,False,True,True,False,False,True
1,15,15250,4,50,2,1,False,True,False,False,...,False,True,False,False,False,True,True,False,False,True
2,36,19410,4,61,1,1,False,True,False,False,...,True,False,False,False,False,True,True,False,True,False
3,48,144090,2,25,1,1,False,True,False,False,...,False,True,False,False,False,True,True,False,True,False
4,24,31690,4,26,1,1,False,False,False,True,...,False,True,False,False,False,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,6,7710,1,26,1,2,False,False,False,True,...,False,False,False,True,True,False,True,False,False,True
996,12,64560,2,52,1,1,False,True,False,False,...,True,False,False,False,False,True,True,False,True,False
997,36,95540,2,31,2,1,False,False,False,True,...,False,True,False,False,True,False,True,False,False,True
998,18,19490,3,23,1,1,False,False,True,False,...,True,False,False,False,True,False,True,False,False,True
999,36,62170,4,23,2,1,True,False,False,False,...,False,False,False,True,False,True,True,False,True,False